<section>
    <div class="pt-10 pb-16 bg-white">
      <div class="container px-4 mx-auto">
        <div class="flex flex-wrap items-start xl:items-center justify-center">
          <div class="w-1/2 xl:w-auto flex flex-wrap items-center justify-center xl:-mb-6">
            <a class="inline-block w-full lg:w-auto text-sm mb-6 mr-14" href="#">Collection</a><a class="inline-block w-full lg:w-auto text-sm mb-6 mr-14" href="#">Projects</a><a class="inline-block w-full lg:w-auto text-sm mb-6 mr-14" href="#">About</a>
            <div class="w-full lg:w-auto md:mr-64 mb-6">
              <a class="inline-block text-sm w-full sm:w-auto relative" href="#">
                <span>Careers</span>
                <div class="absolute top-0 left-0 ml-18 -mt-1 min-w-max py-1 px-3 font-medium bg-orange-800 rounded-t-xl rounded-br-xl">We’re hiring!</div>
              </a>
            </div>
          </div>
          <div class="w-1/2 xl:w-auto flex flex-wrap items-center justify-center -mb-6"><a class="inline-block w-full lg:w-auto text-sm mb-6 mr-14" href="#">Plans</a><a class="inline-block w-full lg:w-auto text-sm mb-6 mr-14" href="#">How to Start</a><a class="inline-block w-full lg:w-auto text-sm mb-6" href="#">Download</a></div>
        </div>
        <h2 class="font-heading text-center text-4xl mt-20 mb-8">Get in touch!</h2>
        <div class="text-center mb-16"><a class="inline-block w-full sm:w-auto px-7 py-4 mb-4 sm:mb-0 mr-3 text-center font-medium border border-gray-900 hover:text-gray-700 rounded" href="#">Live chat</a><a class="inline-block w-full sm:w-auto px-7 py-4 mb-4 sm:mb-0 mr-3 text-center font-medium border border-gray-900 hover:text-gray-700 rounded" href="#">+44 0870 5576 00</a><a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Send a message</a></div>
        <div class="text-center">
          <span class="text-gray-700">I already have an account</span>
          <a class="ml-4 inline-flex items-center font-medium text-green-900 hover:text-green-800" href="#">
            <span class="mr-2">Sign in</span>
            <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.89471 0L6.81484 0.972812L11.0771 4.8125L0 4.8125L0 6.1875L11.0771 6.1875L6.81484 10.0272L7.89471 11L14 5.5L7.89471 0Z" fill="currentColor"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="py-12 text-center bg-gray-100">
      <div class="container px-4 mx-auto">
        <div class="sm:flex items-center justify-center mb-5">
          <a class="inline-block mb-2 sm:mb-0" href="#">
            <img class="h-10" src="wrexa-assets/logos/wrexa-co-logo-name-dark.svg" alt="">
          </a>
          <span class="block text-sm font-light">© 2022 Wrexa. All rights reserved.</span>
        </div>
        <p class="max-w-3xl mx-auto text-gray-400 text-xs font-light">Cookies are important to the proper functioning of a site. To improve your experience, we use cookies to remember log-in details and provide secure log-in, collect statistics to optimize site functionality, and deliver content tailored to your interests...</p>
      </div>
    </div>
  </section>