---
import "@libs/globals.css";

import Header from "@includes/dynamic/Header";
import Footer from "@includes/static/Footer/Footer.astro";
import Meta from "@includes/static/Meta/Meta.astro";
---

<!DOCTYPE html>
<html lang="en">
  <Meta/>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
