---
import NavBar from "@includes/dynamic/NavBar";
import Meta from "@includes/static/Meta/Meta.astro";
import Navigator from "@includes/dynamic/Navigator";
---

<!DOCTYPE html>
<html>
  <Meta />
  <body>
    <NavBar />
    <slot />
    <Navigator />
  </body>
</html>
