<section class="py-20 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -m-4">
      <div class="w-full md:flex-1 p-4">
        <div class="relative overflow-hidden rounded-3xl">
          <img
            class="w-full rounded-3xl"
            src="https://via.placeholder.com/250"
            alt=""
          />
          <div
            class="absolute top-0 left-0 flex flex-col justify-between w-full h-full"
          >
            <div class="p-8">
              <div class="flex flex-wrap justify-end -m-1.5">
                <div class="w-auto p-1.5">
                  <a
                    class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full"
                    href="#"
                    ><img src="zanrly-assets/images/insta.svg" alt="" /></a>
                </div>
                <div class="w-auto p-1.5">
                  <a
                    class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full"
                    href="#"
                    ><img src="zanrly-assets/images/twitter.svg" alt="" /></a>
                </div>
                <div class="w-auto p-1.5">
                  <a
                    class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full"
                    href="#"
                    ><img src="zanrly-assets/images/fb.svg" alt="" /></a>
                </div>
              </div>
            </div>
            <div class="p-8 bg-black bg-opacity-50 overflow-y-auto">
              <h3 class="font-heading mb-4 text-xl text-white font-bold">
                John Doe, CEO
              </h3>
              <p class="text-gray-300 font-bold">
                Renowned for his experience in brand strategy and visual
                identities, lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Suspendisse varius enim in eros elementum tristique.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-5/12 p-4">
        <div class="flex flex-wrap -m-4">
          <div class="w-full p-4">
            <div class="relative overflow-hidden rounded-3xl">
              <img
                class="w-full rounded-3xl"
                src="https://via.placeholder.com/250"
                alt=""
              />
              <div
                class="absolute top-0 left-0 flex flex-col justify-between w-full h-full"
              >
                <div class="p-8">
                  <div class="flex flex-wrap justify-end -m-1.5">
                    <div class="w-auto p-1.5">
                      <a
                        class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full"
                        href="#"
                        ><img src="zanrly-assets/images/insta.svg" alt="" /></a>
                    </div>
                    <div class="w-auto p-1.5">
                      <a
                        class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full"
                        href="#"
                        ><img
                          src="zanrly-assets/images/twitter.svg"
                          alt=""
                        /></a>
                    </div>
                    <div class="w-auto p-1.5">
                      <a
                        class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full"
                        href="#"
                        ><img src="zanrly-assets/images/fb.svg" alt="" /></a>
                    </div>
                  </div>
                </div>
                <div class="p-8 bg-black bg-opacity-50 overflow-y-auto">
                  <h3 class="font-heading text-xl text-white font-bold">
                    Monica Johnson, Designer
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full p-4">
            <div class="relative overflow-hidden rounded-3xl">
              <img
                class="w-full rounded-3xl"
                src="https://via.placeholder.com/250"
                alt=""
              />
              <div
                class="absolute top-0 left-0 flex flex-col justify-between w-full h-full"
              >
                <div class="p-8">
                  <div class="flex flex-wrap justify-end -m-1.5">
                    <div class="w-auto p-1.5">
                      <a
                        class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full"
                        href="#"
                        ><img src="zanrly-assets/images/insta.svg" alt="" /></a>
                    </div>
                    <div class="w-auto p-1.5">
                      <a
                        class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full"
                        href="#"
                        ><img
                          src="zanrly-assets/images/twitter.svg"
                          alt=""
                        /></a>
                    </div>
                    <div class="w-auto p-1.5">
                      <a
                        class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full"
                        href="#"
                        ><img src="zanrly-assets/images/fb.svg" alt="" /></a>
                    </div>
                  </div>
                </div>
                <div class="p-8 bg-black bg-opacity-50 overflow-y-auto">
                  <h3 class="font-heading text-xl text-white font-bold">
                    Kevin Lurker, CTO
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
